* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* navbar styling */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: #528aae;
  color: #ffff;
}

.navbar a {
  margin: 0 10px;
  padding: 30px;
  font-size: 24px;
}

.nav-links a {
  color: #ffff;
}

/* logo design */
.logo {
  font-size: 24px;
}

/* Menu styling */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  transition: 0.3s ease;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.menu li:hover {
  text-decoration: none;
  border-bottom: 3px solid #ffff;
}

.menu a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
}

/* responsive styling of navbar */
input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: #528aae;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  menu li + li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    cursor: pointer;
    display: block;
  }
}

/* Content styles */
.content {
  margin-top: 180px;
  margin-left: 200px;
  padding: 0 20px;
  max-width: 1300px;
}

/* image styling */
.edona-img {
  max-width: 100%;
  float: right;
  margin-right: 70px;
  margin-left: 70px;
}

.content p {
  line-height: 2;
  margin-bottom: 130px;
}

/* Heading styles */
h1 {
  font-size: 40px;
}
